<div class="card bg-dark text-white">
  <img class="card-img" src="assets/header.JPG" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Houkai Qian/恺恺</h5>
    <p class="card-text">CS U3</p>
    <p class="card-text">Working on backend</p>
    <p class="card-text">Was graphic designer/ directer in media</p>
    <img src="assets/wechat.jpeg" height="300px" alt="Card image">
    <img src="assets/ins.jpeg" height="300px" alt="Card image">
  </div>
</div>
